/* workaround until default values can be overridden without touching the bulma files */
html body {
  background-color: $white;
  font-family: $font-family;
}

.title {
  color: $dark-blue
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: $blue-accent
}

.is-white {
  color: $white;

}

.is-light-blue {
  color: $light-blue;
}

.is-blue {
  color: $blue;
}

.is-dark-blue {
  color: $dark-blue;
}

.is-blue-accent {
  color: $blue-accent;
}

.is-brown-accent {
  color: $brown-accent;
}